<a href="https://colab.research.google.com/github/Alison-Azman/Module-1-Alison-Azman/blob/main/MCON232_FQ_Module1_Class2_Lab_Alison_Azman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## YOUR NAME : Alison Azman

In [ ]:
def write_file():
  with open("numbers.txt", "w") as f :
    f.write("1,2,3\n4,5,6\n7,8,9\n")

In [8]:
my_list=[5,6,7,8,9]

print(my_list[0:3])
print(my_list[:])
print(my_list[2:-2]) #up to but not including
print(my_list[::-1]) #The list is now reversed

print(my_list[-1])

[5, 6, 7]
[5, 6, 7, 8, 9]
[7]
[9, 8, 7, 6, 5]
9

[1:4] up to but not including 4
If empty on left hand side start from begining
If empty from the right end go to the end

TO start at the end of the list you can do -1 then -2, etc.

[1:-3]
[::-1] reverses the list

In [14]:
#Nested Lists

x=[
#col 0 1 2
    [1,2,3], #This is row 0
    [4,5,6], #This is row 1
    [7,8,9] #This is row 2
]

print(x[1][1])
print(x[2][0])
print(x[2][2])
print(x[0][2])

5
7
9
3

In [15]:
#Building a nested list
#Don't forget to allocate both the outer and inner list

#main list
nested_list=[]
data=200
#create a 3 x 3 grid

for col in range (3):
  row=[]#This will contain 3 different elements
  for rr in range(3):
    row.append(data)
    data+=20
  nested_list.append(row) #outside the inner for looop but inside the main loop

print(nested_list)

[[200, 220, 240], [260, 280, 300], [320, 340, 360]]

In [16]:
#pythonic
my_list=[5,6,7,8,9]
#Comprehensions

my_even_list=[ i for i in my_list if i% 2==0] # if an element i is %2=0 then assign that element i to the list
print(my_even_list)

[6, 8]

In [19]:
#2D comprehensions

rows,cols=3,4

my_nested_list2=[[i*j for j in range(cols)] for i in range(rows)]
print(my_nested_list2)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

rows, cols = 3, 4
grid = [ [0] * cols] * rows

# BAD for nested lists

grid[0][0] = 99
print(grid) # [ [99,0,0,0], [99,0,0,0],[99,0,0,0]]

Why: [[0] * cols] is unique
However, when you multiply it by rows, now the same list with all
references is copied rows times. Now each column points to the
same element, no matter what the row

In [33]:
#refrencing nested_list from above

#iterate row by row

for row in nested_list:
  print(row)

print("\n\n")
for index in range(len(nested_list)): #only looking at top layer and gives the index
  print(nested_list[index])

print("\n\n")
#better to do because this gives you the data
for row in nested_list:
  print(row)


print("\n\n")
#nested printing
for row in nested_list:
  for value in row:
    print(value, end=' ')
  print()


print("\n\nNested printing")
#Prints by index
for r in range(len(nested_list)):
  for c in range(len(nested_list[r])):
    print(nested_list[r][r], end=" ")
  print()

[200, 220, 240]
[260, 280, 300]
[320, 340, 360]



[200, 220, 240]
[260, 280, 300]
[320, 340, 360]



[200, 220, 240]
[260, 280, 300]
[320, 340, 360]



200 220 240
260 280 300
320 340 360


Nested printing
200 200 200
280 280 280
360 360 360

In [ ]:
#Be careful when deleting elements

#del grid[0][1]

#removed=grid[0].pop(1) nice because returns the value
#grid[0].remove(2) that is the element that is being removed, so need to have the elemnt 2 in the var grid

#replace deleted elements with the string "EMPTY" or None
#board[r][c]="None"

#.insert(i,x) insert at index i
#.clear() removes all items
#.index(x, start, end)
#.count(x)
#.sort()
#.reverse()
#The data is actually changing because it is mutable
#len(), min(), max(), sum()
#sorted() and reversed()

#iterator: total+=sum

What is a tuple
- a fixed sequence
- immuatble
- lightweight
  - very few operations you can do with them

  When we say tuples are lightweight, we are referring to both their implementation and their intended use.
Fewer built-in operations

- Tuples do not support list methods such as append, insert, or remove. Because they cannot change
size, they require less internal machinery than lists.

- Immutability enables efficiency
Since tuples are immutable, Python can handle them more efficiently in some situations. Tuples are often
faster to create and iterate over than lists, though the performance difference is usually small.

- Conceptually lightweight
Tuples are designed to group together a small, fixed set of related values that are meant to stay together
(for example, coordinates or paired data). They represent structure rather than a collection meant to grow or
change.

- Hashable when contents are hashable
Tuples can be used as dictionary keys or elements of a set. Hashable means Python can compute a stable
(won't change) integer value for the tuple, allowing for fast lookups in hash-based data structures.

In [46]:
my_tuple=(4,5,6)
#print(my_tuple)

for value in my_tuple:
  print(value)

print("\nPrinting by index")
for index in range(len(my_tuple)):
  print(my_tuple[index])

#my_tuple[0]="car" can not override a tuple because it is immutable

my_tuple=tuple([1,2,3])
print(my_tuple)

4
5
6

Printing by index
4
5
6
(1, 2, 3)

In [ ]:
student=('Alice', 19,'CS')
print(student)
#This is a tuple

In [48]:
def ret_tuple():
  my_tuple=('Alice', 19,'CS')
  return my_tuple

#print(ret_tuple())

name,age,major=ret_tuple()

print(f"{name=} {age=} {major=}") #This is taking it apart

my_new_tuple = ('Alice', 19, 'CS')
name, age, major = my_new_tuple
print(f"{name=} {age=} {major=}")

name='Alice' age=19 major='CS'
name='Alice' age=19 major='CS'

In [55]:
t=(1,2,3,4)
tt="a","b","v" #don't need brackets

print(tt)

tt3=(3,)
print(tt3)

my_tuple=tuple([4,5,6]) #takes a list and makes it immutable wont ley you do my_tuple[0]=1
print(my_tuple)

my_tuple=tuple("abcd")#will generate a tuple from this data
print(my_tuple)


print(my_tuple[0])#to access elements we do it like a list with square brackets

print("\nNow with a for loop to access elements in a tuple")
for item in my_tuple:
  print(item)

('a', 'b', 'v')
(3,)
(4, 5, 6)
('a', 'b', 'c', 'd')
a

Now with a for loop to access elements in a tuple
a
b
c
d

In [67]:
#Slicing a tuple

my_tuple=tuple("abcdefg")
print(my_tuple)
print(my_tuple[:]) #the whole thing
print(my_tuple[:-5])
print(my_tuple[::-1])
print(my_tuple[2:5])

('a', 'b', 'c', 'd', 'e', 'f', 'g')
('a', 'b', 'c', 'd', 'e', 'f', 'g')
('a', 'b')
('g', 'f', 'e', 'd', 'c', 'b', 'a')
('c', 'd', 'e')

In [70]:
#what can we do with a tuple, not much

#we can count it
print("count",my_tuple.count("d"))
print("index", my_tuple.index("d"))
#print("Sum") does not work woth strings
#print(sum(my_tuple))
print("min", min(my_tuple))
print("max", max(my_tuple))
print("len", len(my_tuple))

count 1
index 3
min a
max g
len 7

In [74]:
t=tuple("abdjshfio")
print(my_tuple)

my_new_t=t
not_t = tuple("afasdadfgdsfg")
print(t)

not_t +=t
print(not_t)

my_new_t = t

print(f'{my_new_t is not_t }')
print(f"{my_new_t is t}")

('a', 'b', 'c', 'd', 'e', 'f', 'g')
('a', 'b', 'd', 'j', 's', 'h', 'f', 'i', 'o')
('a', 'f', 'a', 's', 'd', 'a', 'd', 'f', 'g', 'd', 's', 'f', 'g', 'a', 'b', 'd', 'j', 's', 'h', 'f', 'i', 'o')
False
True

In [75]:
#tuple can contain mutables

t=(1,2,[3,4])
print(type(t))
t[2].append(5)
print(t)
#t[0]=5 this will cause an error

<class 'tuple'>
(1, 2, [3, 4, 5])

In [76]:
t2=(("a","b"),("c","d"))
print(t2)
print(type(t2))
#can not delete the mutable even thoguh we can change the contents

(('a', 'b'), ('c', 'd'))
<class 'tuple'>

Equality with Tuples ( == )

Tuples compare by value, element-by-element, in
order.

(1,2) == (1, 2) # True

(1, 2) == (2, 1) # False

(1, 2) == (1, 2, 3) # False

In [77]:
sorted([(2,"B"),(1,"A"),(2,"A")])

[(1, 'A'), (2, 'A'), (2, 'B')]

In [78]:
# is vs identity

a=(1,2)
b=(1,2)

print(f"True, {a==b}")
print(f"fales,{a is b}")

True, True
fales,False

In [79]:
tt=(1,2,['a','b'])
uu=tt
print(f"{uu is tt}")
tt[2].append('c')
print(f'{tt=} {uu=}')
#If you have a mutable within you tuple and you refrence another tuple with this location, both change

#copy() just surface

True
tt=(1, 2, ['a', 'b', 'c']) uu=(1, 2, ['a', 'b', 'c'])

In [82]:
import copy

uu=copy.deepcopy(tt)
print(f"{uu is tt}")
tt[2].append('z')
print(f'{tt=} {uu=}') #uu will remain the same

False
tt=(1, 2, ['a', 'b', 'c', 'c', 'z', 'z']) uu=(1, 2, ['a', 'b', 'c', 'c', 'z'])

When Should You Use a Tuple?

Use a tuple when:

. Values belong together

. The structure should never change

. You want to model a record, not a collection

In [84]:
# Tuple comprehension
my_tuple=tuple("djfieugsjkbn")
my_second_tuple=tuple(value for value in my_tuple)
print(my_second_tuple)

my_list= [value for value in my_tuple]
print(my_list)

('d', 'j', 'f', 'i', 'e', 'u', 'g', 's', 'j', 'k', 'b', 'n')

In [88]:
# Regualr iteration

#look at each value
#extract each index into our tuple
#enumerat print index: value

#look at each value
print(my_tuple)

#every value
for value in my_tuple:
  print(value, end=" ")

#access according by index
print("\n\naccess according by index")
for index in range(len(my_tuple)):
  print(my_tuple[index], end=" ")

#enum
print("\n\nusing enumerate")
for index, value in enumerate(my_tuple):
  print(f"enumerate: {index} {value}")

('d', 'j', 'f', 'i', 'e', 'u', 'g', 's', 'j', 'k', 'b', 'n')
d j f i e u g s j k b n

access according by index
d j f i e u g s j k b n

using enumerate
enumerate: 0 d
enumerate: 1 j
enumerate: 2 f
enumerate: 3 i
enumerate: 4 e
enumerate: 5 u
enumerate: 6 g
enumerate: 7 s
enumerate: 8 j
enumerate: 9 k
enumerate: 10 b
enumerate: 11 n

In [102]:
t=((1,2),(3,4),(5,6))
print(t)

for index, my_tuple in enumerate(t):
  print(index, my_tuple)
print("\n\n")
for index, (val1, val2) in enumerate(t):
  print(index, (val1, val2)) #unpacking
  print("*********")
  print(f"{index} {val1} {val2}")
  print("*********")
  print(t[index])
  print("Next thing")

((1, 2), (3, 4), (5, 6))
0 (1, 2)
1 (3, 4)
2 (5, 6)



0 (1, 2)
*********
0 1 2
*********
(1, 2)
Next thing
1 (3, 4)
*********
1 3 4
*********
(3, 4)
Next thing
2 (5, 6)
*********
2 5 6
*********
(5, 6)
Next thing

In [156]:
import random
print(random.random()) #float in range of 0.0 to 1.0 but will never get 1.0

print(random.randint(5,8)) #randint is inclusive so it will be able to get to 8
print(random.randrange(10,20, step=2)) #will skip according to step
#exclusive and will give a number within the range accoring to the step

my_tuple=tuple("abcdefghijklmno")
print(random.choice(my_tuple))

my_list=list("zyxwvu")
print("before", my_list)
print(random.shuffle(my_list)) #shuffles it in place and returns none
print("after", my_list)

print(random.uniform(3.5,6.1)) #is inclusive from both ends
print(random.sample(range(10,200),5)) #gives the range and will sample the last number amount

print(f"my deical {random.uniform(3.453,6.153):.3}")

0.23796462709189137
6
14
o
before ['z', 'y', 'x', 'w', 'v', 'u']
None
after ['y', 'u', 'x', 'z', 'w', 'v']
5.862927840481844
[130, 76, 151, 69, 59]
my deical 6.14