NAME HERE: Alison (Reizi) Azman

In [5]:
my_list=[]
my_list2 =[1,2,3,4,5,'a','A']
my_list.append(1)
print(my_list)
del(my_list2[0])
print(my_list2)
my_list2.remove('A')
my_list.pop(len(my_list)-1)
print(my_list)

[1]
[2, 3, 4, 5, 'a', 'A']
[]

In [31]:
my_list=[]
my_list.append(1)
my_list.append('A')
my_list.append([1,2,3,4,5])
print(my_list)

my_new_list=my_list #just pointing to the same thing, this is not correct and doesn not make a new copy

#The correct way is
my_new_list=[]
my_new_list=my_list[ : ]
my_list[1]='B'
print(my_list, "\nThis is the new list: ", my_new_list)


#my_new_list=[]
#my_new_list=my_list.copy() #this is a shallow copy, only the top level
#This is another way to copy

#To go backwards in a list splice you can  do -1, -2, etc.

[1, 'A', [1, 2, 3, 4, 5]]
[1, 'B', [1, 2, 3, 4, 5]]
This is the new list:  [1, 'A', [1, 2, 3, 4, 5]]

In [18]:

try :
  my_list[20] #This is out of range so instead do the try
except IndexError as var:
  print("The index is out of range")

The index is out of range

In [32]:

names=['Reizi', 'leah', 'meira']
for i in names:
  print(i)

print("************")
print()

for i in range(len(names)):
  print(names[i])

print('***********')
print()

#enumerate
for index, value in enumerate(my_list):
  print(f'{index} {my_list[index]} {value}')

Reizi
leah
meira
************

Reizi
leah
meira
***********

0 1 1
1 B B
2 [1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [26]:
# accumulator While

index=0
while index< len(my_list):
  print(my_list[index])
  index+=1

1
B
[1, 2, 3, 4, 5]

In [33]:
#functions

def can_this_change(list_a):
  list_a =['hello'] #this does not change it our of the function
  #if you do .append it will
  #list_a.append('hello')

list_b=['Goodbye']
can_this_change(list_b)

print(list_b)

['Goodbye']

In [36]:
#populate a nested list

rows=3
cols=3

# the underscore means we do not need the value and can throw it away

val=0

grid =[]
for _ in range(rows):
  row=[]
  for _ in range (cols):
    row.append(val)
    val+=1
  grid.append(row)

#this creates 3 lists containing empty 3 times all in a list.
print(grid)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [39]:
# DO NOT CREATE A NESTED LIST LIKE THIS

mylist= ['a']*3 #this is okay and will work
print(mylist)

mylist[0]=1
print(mylist)


#this will not work
row, cols =3,4 #assigns as a list, rows gets 3 and cols gets 4
grid=[[0] *cols]*rows
print(grid)
grid[0][0]=1
grid[1][1]=2
grid[2][2]=3
print(grid)
#They are all pointing to the same place and is a big no no

['a', 'a', 'a']
[1, 'a', 'a']
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[1, 2, 3, 0], [1, 2, 3, 0], [1, 2, 3, 0]]